<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BlogMapper">
	<sql id="commonColumns">select id,blog_type,blog_title,blog_context,create_time,blog_source,blog_author,blog_status,blog_image,blog_introduction </sql>

	<resultMap type="Blog" id="userResultMap">
		<id column="id" property="id"/>
		<result column="blog_type" property="blogType"/>
		<result column="blog_title" property="blogTitle"/>
		<result column="blog_context" property="blogContext"/>
		<result column="nickname" property="nickname"/>
		<result column="create_time" property="createTime"/>
		<result column="blog_source" property="blogSource"/>
		<result column="blog_author" property="blogAuthor"/>
		<result column="blog_status" property="blogStatus"/>
		<result column="blog_image" property="blogImage"/>
		<result column="blog_introduction" property="blogIntroduction"/>
		
	</resultMap>
	
	    <!-- 根据id获取债权信息 -->
	<select id="findById" parameterType="PageData" resultType="Blog" useCache="false">
	   <include refid="commonColumns"></include>
		from cr_blog 
		where id = #{id}
	</select>
	
	
   <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_blog u
		where 1=1
		<if test="blogType != null and blogType != ''">
			and u.blog_type = #{blogType}
		</if>
		<if test="keyword != null and keyword != ''">
	  		and	CONCAT(IFNULL(u.blog_title,''),IFNULL(u.blog_source,''),IFNULL(u.blog_author,'')) like #{keyword}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="Blog">
	   <include refid="commonColumns"></include>
		from cr_blog u
		where 1=1
		<if test="blogType != null and blogType != ''">
			and u.blog_type = #{blogType}
		</if>
		<if test="keyword != null and keyword != ''">
	  		and	CONCAT(IFNULL(u.blog_title,''),IFNULL(u.blog_source,''),IFNULL(u.blog_author,'')) like #{keyword}
		</if>
		order by u.id desc
		limit #{from},#{size}
	</select>
	<insert id="saveBlogInfo" parameterType="Blog">
		insert into cr_blog (
			blog_type,
			blog_title,
			blog_context,
			create_time,
			blog_source,
			blog_author,
			blog_image,
			blog_introduction,
			blog_status
		) values (
			#{blogType},
			#{blogTitle},
			#{blogContext},
			#{createTime},
			#{blogSource},
			#{blogAuthor},
			#{blogImage},
			#{blogIntroduction},
			#{blogStatus}
		)
	</insert>
	<update id="updateBlog" parameterType="Blog">
		update cr_blog set 
		blog_type = #{blogType},
		blog_title = #{blogTitle},
		blog_context = #{blogContext},
		blog_source = #{blogSource},
		blog_author = #{blogAuthor},
		blog_image =#{blogImage},
		blog_introduction =#{blogIntroduction}
		where id = #{id}
	</update>
	<update id="updateBlogStatus" parameterType="Blog">
		update cr_blog set blog_status = #{blogStatus} where id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="Integer">
		delete from cr_blog where id = #{id}
	</delete>
	
</mapper>