<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FileManagerMapper">
	<sql id="commonColumns">id,file_type,file_title,download_url</sql>
	
	<resultMap type="FileManager" id="FileResultMap">
		<id column="id" property="id"/>
		<result column="file_type" property="fileType"/>
		<result column="file_title" property="fileTitle"/>
		<result column="download_url" property="downloadUrl"/>
	</resultMap>
	
	<!-- 根据id获取债权信息 -->
	<select id="findById" parameterType="PageData" resultType="FileManager" useCache="false">
	   select 
	   <include refid="commonColumns"></include>
		from cr_file_manager 
		where id = #{id}
	</select>
	
    <select id="count" parameterType="PageData" resultType="int">
		select count(1)
		from cr_file_manager u
		where 1=1
		<if test="fileType !=null and fileType!=''">
		and file_type =#{fileType}
		</if>
		<if test="keyword != null and keyword != ''">
	  	and	CONCAT(IFNULL(u.file_type,''),IFNULL(u.file_title,'')) like #{keyword}
		</if>
	</select>
	
	<select id="list" parameterType="PageData" resultType="FileManager">
	     select
	    <include refid="commonColumns"></include>
		 from cr_file_manager u
		where 1=1
		<if test="fileType !=null and fileType!=''">
		and file_type =#{fileType}
		</if>
		<if test="keyword != null and keyword != ''">
	  		and	CONCAT(IFNULL(u.file_type,''),IFNULL(u.file_title,'')) like #{keyword}
		</if>
		order by u.id desc
		limit #{from},#{size}
	</select>
		
	<insert id="save" parameterType="FileManager">
		insert into cr_file_manager (
			 file_type,
			 file_title,
			 download_url
		) values (
			#{fileType},
			#{fileTitle},
			#{downloadUrl}
		)
	</insert>	
	
	<update id="update" parameterType="FileManager">
			update cr_file_manager set 
						file_type = #{fileType},
						file_title = #{fileTitle},
						download_url = #{downloadUrl}
						where id = #{id}
	</update>
	
	<delete id="delete" parameterType="Integer" >
            delete from cr_file_manager where id=#{id}
    </delete>
	
	<delete id="batchDelete" parameterType="java.util.List">
		 delete from cr_file_manager
		<foreach collection="list" item="id" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>
</mapper>